<h4>Welcome Back!</h4>
<h3><i class="fas fa-blog"></i> Vichaar </h3>
<div class="section">
    <p class="lead">Vichaar is a place to create public and private blogs from your life</p>
</div>
<div class="divider"></div>
<div class="section">
    <a href="/auth/google" class="btn red darken-1">
        <i class="fab fa-google left"></i> Log In With Google
    </a>
</div>